/* Layout Wrapper */
.inventory-wrapper {
  display: flex;
  height: 100%;
  flex-shrink: 1;
}

/* Main Container */
.inventory-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Left Sidebar: Shape Inventory */
.shape-inventory {
  width:max-content;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  border-right: 1px solid #f0f0f0;
  flex-shrink: 0;
}

/* Right Sidebar: Property Editor */
.property-editor-card {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  border-left: 1px solid #f0f0f0;
}
.property-editor-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
